# 必須
CH_X_ACCOUNT=
CH_SESSION_COOKIE=
CH_VEIL_ID=
CH_X_ACCOUNT_REFRESH=
CH_CHANNEL_ID=
CH_GROUP_YOUTUBE_DL=

# 任意
# MESSAGE_FETCH_LIMIT=20
# YT_WORKERS=2
# HTTP_TIMEOUT=15
# POLL_IDLE_SLEEP=0.5
# YT_MAX_FILESIZE_MB=2000
